.modal-dialog {
  position: absolute;
  margin: 0;
  width: 100vw;
  height: 240px;
  bottom: 0;
}

.modal-content {
  border: none;
  border-radius: 10px 10px 0 0 ;
  height: inherit;
  width: 100vw;
}